<!DOCTYPE html>
<html>
    <head>
        <title>Hideks Framework Project</title>
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
        {% stylesheets assets=[
            'require vendor/bootstrap.min.css',
            'require vendor/bootstrap-theme.min.css',
            'require *'
        ] %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    </head>
    <body>
        <header class="container">
            <h1>Hideks Framework</h1>
        </header>
        <section class="container">
            {% block content %}{% endblock %}
        </section>
        <footer class="container">
            <p>Powered by <a href="http://hidekscorp.com">Hideks Corporation</a></p>
        </footer>
        {% javascripts assets=[
            'require vendor/jquery.min.js',
            'require vendor/bootstrap.min.js',
            'require *'
        ] %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>